<html>
<head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    ul  {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
</style>
</head>
<body>
<h1>There's {{length.0}}  same songs, and  {{length.1}}  different songs in the first playlist, {{length.2}} different songs in the other</h1>
<p><a href = "/compare">Wanna try again?</a></p>


<p> On PC, some songs should play if you hover over the album cover! (Though it might need to load...)</p>


<table>
  <tr>
    <th>Unique in Playlist 1</th>
    <th>Same Songs in Both!</th>
    <th>Unique in Playlist 2</th>
  </tr>
  {% for x in ultlist %}
  <tr>
    <td>
      <ul>
        <li>{{x.1}}</li>
        <li>{{x.2}}</li>
        <li>
          <img src="{{x.4}}" onmouseover="PlaySound('{{x.0}}')" onmouseout="StopSound('{{x.0}}')" />
          <audio src="{{x.3}}" id="{{x.0}}"></audio>
        </li>
      </ul>
    </td>
    <td>
      <ul>
        <li>{{x.6}}</li>
        <li>{{x.7}}</li>
        <li>
          <img src="{{x.9}}" onmouseover="PlaySound('{{x.5}}')" onmouseout="StopSound('{{x.5}}')" />
          <audio src="{{x.8}}" id="{{x.5}}"></audio>
        </li>
      </ul>
    </td>
    <td>
      <ul>
        <li>{{x.11}}</li>
        <li>{{x.12}}</li>
        <li>
          <img src="{{x.14}}" onmouseover="PlaySound('{{x.10}}')" onmouseout="StopSound('{{x.10}}')" />
          <audio src="{{x.13}}" id="{{x.10}}"></audio>
        </li>
      </ul>
    </td>
  </tr>
  {% endfor %}
</table>

<!--
#TODO: okay so we wattag it, have a button here and when it is pressed, we get the html from a python to put in the block content
#TODO: it'll go like this: Same songs in the middle, showing Name, artist, album photo, mp3, in a table, table being as long as amount of songs in same. if 0 : welp.
#todo: then same but to the different songs on the side
-->




</body>

<script>
  function PlaySound(soundobj) {
    var thissound = document.getElementById(soundobj);
    thissound.play();
  }
  
  function StopSound(soundobj) {
    var thissound = document.getElementById(soundobj);
    thissound.pause();
    thissound.currentTime = 0;
  }
  </script>
</html>